.shopPage {
  display: flex;
  flex-wrap: wrap;
  gap: var(--fs33);
}

.shopPage > * {
  border: 1px solid red;
}
.shopPage h2 {
  width: 100%;
  margin-bottom: 0;
}

.searchFn {
  width: 130px;
}

.category button {
  width: 100%;
  margin-bottom: var(--fs12);
  border: none;
}

.productList {
  flex: 1;
}
