.tabBtn {
  border-bottom: 1px solid var(--dark-colors-light-gray-dark);
}
.tabBtn button {
  border: none;
  outline: none;
  /* 버튼 배경화면 투명 */
  background-color: transparent;
  padding: var(--fs12) var(--fs20);
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}

.tabBtn button:hover {
  border-color: var(--dark-colors-accent-dark);
}
